#bgPane
{
	-fx-background-image:url("../../resources/pic/cinema_original.jpg");
	-fx-background-size: 100%;
}

.theme
{
    -fx-background-color: #3e4042;
}

#bgPane
{
	-fx-background-image:url("../../resources/pic/cinema_original.jpg");
	-fx-background-size: 100%;
}

#MovieTape
{
	-fx-background-image:url("../../resources/pic/border-right.gif") repeat;
}

#movieName
{
	-fx-font-size: 20pt;
	-fx-text-fill: #0e5b95;
}

.groupScene, .movieScene, .cinemaPane
{
	-fx-background-color: black; /*#2b2a29; */
}

/*list view */
.list-view
{
	-fx-background-color: black;
	-fx-background-insets:0;
}

.list-cell
{
	-fx-background-color: black;
}

/*label in the cinema pane */
.cinemaPane .label{
	-fx-text-fill: #bec1c4;
	-fx-font-family: 'Arial';
}
.dateLabel
{
	-fx-background-color:black;
	-fx-border-radius: 5;
	-fx-border-color: grey;
}

.cinemaPane .button{
	-fx-text-fill: #f2f6f9;
	-fx-font-size:12pt;
	-fx-border-radius: 5;
	-fx-background-color:grey;
	-fx-border-color: grey;
}

/* for showing the group and the group member */

.groupScrollView
{
	-fx-background-color: black;
}

.theme .scroll-bar:horizontal
{
	-fx-background-color:transparent;
	-fx-opacity:0;
}

.theme .scroll-bar:vertical
{
	-fx-background-color:transparent;
	-fx-opacity:0;
}

/*http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/*/

/* for the scroll view */
.text-area
{
	-fx-font-size: 12pt;
	-fx-text-fill:#949699;
	-fx-background-color:transparent;
}

.text-area .scroll-pane
{
	-fx-background-color:transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
	-fx-background-color: transparent;
	-fx-border-color:derive(grey,80%);

}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
	-fx-background-color: derive(black,90%);
	-fx-background-insets: 0,0,0;

}

.increment-button ,.decrement-button {
	-fx-background-color: derive(black,90%);
	-fx-border-color:derive(black,90%);
	-fx-background-radius: 0em;
}

#posterBackGround
{
	-fx-background-color:black; /*to be done */
}

.rightVbox
{
	-fx-text-fill: #f2f6f9;
	-fx-font-size: 12pt;
	-fx-border-radius: 5;
	-fx-background-color:grey;
	-fx-border-color: grey;
}

#leftArrow
{
	-fx-background-image:url("../../resources/pic/left_arrow.png") no-repeat;
	-fx-border-color: black;
	-fx-background-color:black;

}

#rightArrow
{
	-fx-background-image:url("../../resources/pic/add.png") no-repeat;
	-fx-border-color: black;
	-fx-background-color:black;
}

#volumeButton
{
	-fx-background-color:black;
	-fx-graphic:url("../../resources/pic/speaker2.png") no-repeat;
}

#playButton
{
	-fx-background-color:black;
	-fx-graphic:url("../../resources/pic/play.png") no-repeat;
}

.slider .track
{
	-fx-background-color:#383735;
}

.slider .thumb
{
	-fx-background-color:white;
}

.list-cell:selected {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
}

#chatPanel {
	-fx-background-color: white;
}

#chatPanel .list-cell{
	-fx-background-color: white;
}

#filePicker {
	-fx-background-color: white;
	-fx-border-color:transparent ;
	-fx-border-radius: 0;
	-fx-text-fill: black;
	-fx-font-size:8pt;
}

   .combo-box-popup .list-view 
{
-fx-background-color: white, white;
-fx-background-insets: 0, 1;
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
} 

    .combo-box .list-cell 
{
-fx-background-color: white;
-fx-text-fill: -fx-text-base-color;
-fx-padding: 3 0 2 7;
-fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
-fx-background-color: -fx-selection-bar;
-fx-text-fill: -fx-selection-bar-text;
}
.combo-box-popup .list-view .list-cell:filled:hover 
{
-fx-background-color: #6CA6E8;
-fx-text-fill: -fx-text-inner-color;
}

#GMessageListView .list-cell
{
	-fx-text-fill:white;
}
